.body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
}
.ordered-list{
    display:block;
    color:white;
    background: rgb(17,18,18);
    /*background: linear-gradient(150deg, rgb(0, 0, 0) 32%, rgb(76, 210, 219) 67%, rgb(0, 0, 0) 80%);*/
    text-align: center;
    border-radius: 20px;
}
.li-1{
display:inline-block;
margin:20px;
border-color: white;

}
.image{
    text-align: center;
    margin-top:50px;
}
.photos{
display:block;
text-align: center;
margin-top:50px;

}
.image1,.image2{
    display:inline-block;
    margin:20px;
    width:200px;
    margin-right:200px;
}
.image3{
    display:inline-block;
    width:300px;
    height:230px;
}
.paragraphs
{
    display:block;
    margin-left:120px;
}
.p1
{

    margin-right:200px;
    color:white;
    display:inline-block;
    width:210px;
}
.p2{
    margin-right:200px;
    color:white;
    display:inline-block;
    width:270px;
    
}
.p3{
    margin-right:px;
    color:white;
    display:inline-block;
    width:250px;
    
}
   
.footer{
    background-color: rgb(15, 15, 15);
    height:260px;
}
.contact{
    color:white;
    font-size:larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    padding-left:50px;
    padding-top:50px;
    text-decoration: underline;;
}
.platforms{
    margin-top:20px;
    margin-left:50px;
    list-style-type: none;
}
.list{
    color:white;
    padding :3px;
}
.codi{
    position:absolute;
    margin-left:1000px;
    margin-top:-150px;
    color:white;
}